:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Black */
  --primary-black-bg-color: #0D1321;
  --primary-black-bg-text-color: #FFEDDF;

  /* White */
  --primary-white-bg-color: #FFEDDF;
  --primary-white-bg-text-color: #0D1321;

  /* Yellow */
  --primary-yellow-bg-color: #C5D86D;
  --primary-yellow-bg-text-color: #C5D86D;

  /* Brown */
  --primary-brown-bg-color: #86615C;
  --primary-brown-bg-text-color: #86615C;

  /* Blue */
  --primary-blue-bg-color: #AFE0CE;
  --primary-blue-bg-text-color: #AFE0CE;
}


@media only screen and (max-width: 480px){
  html{
    font-size: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px){
  html{
    font-size: 13px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px){
  html{
    font-size: 14px;
  }
}